// В этом файле должны быть стили для БЭМ-блока step-list, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.step-list {

  $block-name:                &; // #{$block-name}__element

  counter-reset: step-counter;

  .step-card {
    &:before {
      counter-increment: step-counter;
      content: "0" counter(step-counter);
      font-size: rem(48);
      font-weight: 700;
      color: #eec597;
      padding: 5px 15px;
    }
  }
}
