
// Make viewport great again (responsive)
// http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line  at-rule-no-vendor-prefix
    width: device-width;
  }
}

.page { // html

  $block-name:                &; // #{$block-name}__element

  // box-sizing: border-box;
  // font-size: 10px;
  // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // -ms-overflow-style: scrollbar;
  // -ms-text-size-adjust: 100%; // stylelint-disable-line  property-no-vendor-prefix
  // min-width: 320px;
  min-height: 100%;

  &__inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

// We love EDGE! This is a browser!
svg {

  a &,
  button & {
    pointer-events: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.bg-light {
    background-color: $color-main !important;
}

.bg-image {
  background-size: cover;
  background-position: center top;
}

.border-radius {
  border-radius: 2px;
}
.box-shadow {
  box-shadow: 0px 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.leader-row {
  @include media-breakpoint-up(xl) {
    >div {
      flex-basis: 20%;
      max-width: 20%;
    }
  }
}

.leader-item {
  text-align: center;
  border-radius: 2px;
  background-color: #f5f5f5;
  min-height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  border-radius: 2px;

  p {
    margin: 0;
  }

  &__num {
    font-size: 36px;
    font-weight: 700;
    color: #eec597;
    line-height: 1.4;
  }
}
