// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  border-bottom: 1px solid $border-color;
  margin-bottom: 60px;

  .navbar {
    padding-top: 15px;
    position: relative;
    padding-bottom: 15px;

    & > .container {
      align-items: flex-start;

      .navbar-collapse {
        align-self: center;
        padding-left: 15px;
        padding-right: 15px;

        @include media-breakpoint-down(md) {
          width: 100%;
          position: absolute;
          background: #f3e9de;
          top: 100%;
          left: 0;
        }
      }
    }
  }

  .contacts-phone {
    margin-top: 0;
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 0;

    p {
      margin-right: auto;
      // margin-bottom: 0;
    }
  }

  .navbar-light {

    .navbar-nav {

      .nav-item {

        &.active {

          .nav-link {
            color: #8b6647;
          }
        }
      }

      .nav-link {
        color: #000;
      }
    }
  }
}
