// В этом файле должны быть стили для БЭМ-блока adv-card, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.adv-card {

  $block-name:                &; // #{$block-name}__element

  background: #fff;
  height: 100%;

  &__icon-wrap {
    height: 50px;
    margin-bottom: 15px;
    display: flex;
    align-items: flex-end;

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

  @include media-breakpoint-down(md) {
    text-align: center;
  }
}
