// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {

  $block-name:                &; // #{$block-name}__element

  padding: 35px 0;
  border-top: 1px solid #d9d9d9;

  p {
    margin-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    p {
      margin-bottom: 10px;
    }
  }
}
