// В этом файле должны быть стили для БЭМ-блока contacts, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.contacts {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
  }
}

.contacts-card {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 80px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    text-align: center;
    margin-right: 0;
  }

  &__img-wrap {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__content {
    padding: 15px 25px;

    h5 {
      font-size: 18px;
      font-weight: 700;
      font-family: inherit;
      margin-bottom: 0.5rem;
    }

    p {
      margin-bottom: 0.5rem;
    }
  }
}
