// Базовые цвета https://colorscheme.ru/color-converter.html

$fa-font-path:        "../fonts";

$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
  @return #{$pixels/$context}rem;
}

$color-main:                  #f3e9de;
$color-success:               hsl(120, 39%, 54%);
$color-danger:                hsl(2, 64%, 58%);
$color-warning:               hsl(35, 84%, 62%);

$border-color: #f0f0f0;
