// В этом файле должны быть стили для БЭМ-блока adv-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.adv-slider {

  $block-name:                &; // #{$block-name}__element

  &__item {
    background: #ccc;
    padding: 7%;
    background-size: cover;
    color: #fff;

    h3 {
      font-family: 'Montserrat';
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 30px;
    }

    p {
      max-width: 460px;
    }
  }

  &__item-num {
    border-radius: 2px;
    background-color: #eec597;
    text-transform: uppercase;
    color: #000;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 8px;
    margin-bottom: 30px;
  }
}
